html, body{
  margin: 0;
  padding: 0;
}
h1, h2, h3,h4,p {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
h2 {
  font-weight: 200;
}

/* Nav Stuff */
.filler {
  height: 71px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: transparent !important;
  font-weight: 600 !important;
}
.navbar-brand {
  padding: 0px;
}
nav {
  border-bottom: transparent !important;
}
.navbar-brand img {
  max-width: 200px !important
}
.navbutton{
  padding: 10px 20px !important;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff !important;
}
.noA {
  text-decoration: none;
  color: #696969;
}
.noA:hover {
  text-decoration: none;
}
#logoImage {
  margin-left: 50px;
  height: calc(100%);
}
.navSolid {
  background: #39B54A !important;
}

/* Home elements */
#home {
  background-image: url('../assets/fruits.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: calc(100%);
}
#h1name {
  color: #fff;
  font-weight: 200;
  font-size: 80px;
  position: absolute;
  top: 82%;
  width: calc(97%);
  text-align: right;
  opacity: 0;
}

#aboutBody {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: calc(80%);
  margin-top: calc(5%);
}

/* Demo */
#demoBody {
  background-color: #4A9BA3;
  height: calc(100%);
}
#demoContent {
  margin-top: calc(2%);
  height: calc(100%);
}
#demoContent h2 {
  color: #fff;
}
#demoPhone {
  margin-top: 20px;
  height: calc(70%);
}

/* Process */
#processBody {
  height: calc(100%);
}
.processRow {
  height: calc(50%);
}
.processCol {
  height: calc(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
  pointer-events: none;
  -webkit-filter:grayscale(1);
  filter: grayscale(1);
}
.processCol:hover {
  -webkit-filter:grayscale(0) contrast(1) brightness(2);
  filter: grayscale(0) contrast(1) brightness(2);
}
.processBtn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100%);
  width: calc(100%);
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 20px;
  background: rgba(0, 0, 0, .3);
  border: 0px;
  outline: none;
  pointer-events: auto;
}
#process1 {
  background-image: url('../assets/needfinding.jpg');
}
#process2 {
  background-image: url('../assets/povprototype.jpg');
}
#process3 {
  background-image: url('../assets/videostill.jpg');
}
#process4 {
  background-image: url('../assets/beans.jpg');
}
#process5 {
  background-image: url('../assets/bananas.jpg');
}
#process6 {
  background-image: url('../assets/pan.jpg');
}
#process7 {
  background-image: url('../assets/nuts.jpg');
}
#process8 {
  background-image: url('../assets/bowl.jpg');
}
#teamBody {
  background-image: url('../assets/greens.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: calc(90%);
}
.teamRow {
  margin-top: calc(3%);
  height: calc(100%);
}
.teamCol {
  height: calc(90%);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.teamRow h3,
.teamRow h4{
  color: #fff;
  font-weight: 200;
}
.profileLinkIcon {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.profileLinkIcon:hover {
  color: #39B54A;
}
.profileLinks {
  display: inline-block;
}
footer {
  margin: 0;
  background: #4A9BA3;
  color: #fff;
  height: calc(15%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer p {
  margin: 0;
}
