html, body{
  margin: 0;
  padding: 0;
}
h1, h2, h3,h4,p {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
h2 {
  font-weight: 200;
}

/* Nav Stuff */
.filler {
  height: 71px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: transparent !important;
  font-weight: 600 !important;
}
.navbar-brand {
  padding: 0px;
}
nav {
  border-bottom: transparent !important;
}
.navbar-brand img {
  max-width: 200px !important
}
.navbutton{
  padding: 10px 20px !important;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff !important;
}
.noA {
  text-decoration: none;
  color: #696969;
}
.noA:hover {
  text-decoration: none;
}
#logoImage {
  margin-left: 50px;
  height: calc(100%);
}
.navSolid {
  background: #39B54A !important;
}

/* Home elements */
#home {
  background-image: url('../assets/fruits.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#h1name {
  color: #fff;
  font-weight: 200;
  font-size: 80px;
  width: calc(97%);
  text-align: right;
  opacity: 0;
}
#btnHolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: calc(88%);
  padding-bottom: 50px;
}
#homePlayButton {
  color: #fff;
  width: 200px;
  font-weight: 200;
  font-size: 18px;
  border-radius: 15px;
  background: #39B54A;
  border: none;
  padding: 12px;
  opacity: 0;
}
#homePlayButton:focus {
  outline: 0;
}
#vimeoHeader {
  border-bottom: 0px;
}

/* About Elements */
#aboutBody {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(90%);
  padding-top: calc(5%);
}
#aboutBody h2 {
  font-size: 52px;
}
.aboutRow {
  height: calc(50%);
  margin-top: calc(5%);
  padding: 50px;
}
.aboutItem {
  height: calc(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.aboutImage {
  height: 150px;
}
#missionBody {
  background-image: url("../assets/nuts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(91%);
  display: flex;
  alight-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding-left: calc(65%);
  padding-right: calc(5%);
  -webkit-filter:contrast(1) brightness(1);
  filter:contrast(1) brightness(1);
}


/* Demo */
#demoBody {
  background-color: #4A9BA3;
  padding-top: calc(5%);
  height: calc(95%);
}
#demoContent {
  margin-top: calc(2%);
  height: calc(100%);
}
#demoContent h2 {
  color: #fff;
}
#demoPhone {
  margin-top: 20px;
  height: calc(75%);
}

/* Process */
#processBody {
  height: calc(93%);
}
.processRow {
  height: calc(50%);
}
.processCol {
  height: calc(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
  pointer-events: none;
  -webkit-filter:grayscale(1);
  filter: grayscale(1);
}
.processCol:hover {
  -webkit-filter:grayscale(0) contrast(1) saturate(1);
  filter: grayscale(0) contrast(1) saturate(1);
}
.processBtn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100%);
  width: calc(100%);
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 20px;
  background: rgba(0, 0, 0, .3);
  border: 0px;
  outline: none;
  pointer-events: auto;
}
#process1 {
  background-image: url('../assets/needfinding.jpg');
}
#process2 {
  background-image: url('../assets/povprototype.jpg');
}
#process3 {
  background-image: url('../assets/videoStill.jpg');
}
#process4 {
  background-image: url('../assets/lowfi.jpg');
}
#process5 {
  background-image: url('../assets/medfi.png');
}
#process6 {
  background-image: url('../assets/heuristicEval.JPG');
}
#process7 {
  background-image: url('../assets/hifidelity.png');
}
#process8 {
  background-image: url('../assets/slide.png');
}
#teamBody {
  background-image: url('../assets/greens.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: calc(90%);
}
.teamRow {
  margin-top: calc(3%);
  height: calc(100%);
}
.teamCol {
  height: calc(90%);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.teamRow h3,
.teamRow h4{
  color: #fff;
  font-weight: 200;
}
.profileLinkIcon {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.profileLinkIcon:hover {
  color: #39B54A;
}
.profileLinks {
  display: inline-block;
}
footer {
  margin: 0;
  background: #4A9BA3;
  color: #fff;
  height: calc(15%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer p {
  margin: 0;
}
.modal-dialog {
  background-color: rgba(0,0,0,0) !important;
}
.modal-content {
  background-color: rgba(255,255,255,.9) !important;
}
footer a {
  color: #fff !important;
}
footer a:hover {
  color: #7df98e !important;
}
